#video{
    width: 100%;
    height: 500px;
    border: none;
}

.#welcome{

    border: 1px solid  lightgrey;
}

.#welcome   img{

    width: 100%;
}

.#welcome   h5 , .#welcome p
{
    margin: 20px;
}


.filme_head{

    font-size: 20px;
    padding: 6px   22px;
    border-radius: 10px;
    margin-bottom: 15px;
}


.filme_head i
{

    float: right;
}

.conquistas_text span {

color:orange
}